<header>
  <nav class="navbar navbar-light bg-light navsize" id="nav">
    <div class="container-fluid">
      <a class="navbar-brand text-white pl-20">Glow Up</a>
      <form class="d-flex">
        <button class="btn btn-light btn-login mr-20">Logout</button>
      </form>
      <a href="/login/entrar" class="navbar-brand text-white pl-20">Login</a>
    </div>
  </nav>
</header>
