<section class="container">
    <img class="imgHome" src="/img/med.jpg" alt="">
    <section style="height: 300px; background-color: white;">
      {{!-- css inline meramenta ilustrativo --}}
      <h3 style="padding-top: 150px;">
        talvez aqui uns cards
      </h3>
    </section>
    <section style="height: 300px;">
      {{!-- css inline meramenta ilustrativo --}}
      <h3 style="padding-top: 150px;">
        talvez uma foto e um texto
      </h3>
    </section>
    <section style="height: 400px;  background-color: white;">
      {{!-- css inline meramenta ilustrativo --}}
      <h3 style="padding-top: 150px;">
        talvez 3 divs separadas com horario de funcionamento e alguma outra ideia
      </h3>
      <div style="height: 300px; margin-top: 60px; display: flex; justify-content: center;">
        <div style="width: 150px; height: 150px; background-color: aqua; padding: 50px; text-align: center;">Ideia 1</div>
        <div style="width: 150px; height: 150px; background-color: blue; padding: 50px; text-align: center;">Ideia 2</div>
        <div style="width: 150px; height: 150px; background-color: blueviolet; padding: 50px; text-align: center;">Ideia 3</div>
      </div>
    </section>

</section>
