* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Share+Tech+Mono&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Share Tech Mono', monospace;
    background-color: rgb(196, 234, 252);
}    

.pr-20 {
    padding-right: 20px;
    /* text-align: justify; */
}

.ft-md {
    font-size: 16px;
} 
.ft-sm {
    font-size: 13px;
    word-spacing: 5px!important;
} 

.bg-light {
    background-color: rgb(1, 166, 216)!important;
}

.navsize {
    height: 80px;

}

.pl-20 {
    padding-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.cont-float {
    border: 2px solid white;
    padding: 20px;
    border-radius: 20px;
    width: 70%;
   
}

.foot {
    text-align: center!important;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    word-spacing: 15px;
    margin-top: 20px;
}

.card {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 2px 2px 2px black;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 2px 2px 2px black;
}

/* body {
  background-color: aqua;
} */
