<head>
  <%- include('../partials/head')%>
</head>

<header><%- include('../partials/header') %></header>

<div class="container">
  <form action="/verificarLogin" method="post">
    <label for="email">Email</label>
    <input type="email" placeholder="Digite seu email" name="email" />

    <label for="senha">Senha</label>
    <input type="password" placeholder="Digite seu senha" name="senha" />

    <button type="submit">Logar</button>
    <button type="reset">Cancelar</button>
    <span><%= acao%></span>
  </form>
</div>

<%- include('../partials/footer')%>
