<head>
  <%- include('../partials/head')%>
</head>

<header><%- include('../partials/header') %></header>

<div class="container container-fluid mt-5">
  <div class="row d-flex justify-content-center">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h2 class="card-title text-center">Login</h2>
        <form action="/verificarLogin" method="post">
          <label for="email">Email</label>
          <input
            class="form-control"
            type="email"
            placeholder="Digite seu email"
            name="email"
          />

          <label for="senha">Senha</label>
          <input
            class="form-control"
            type="password"
            placeholder="Digite seu senha"
            name="senha"
          />

          <p><%= acao%></p>

          <div class="d-flex justify-content-between mt-5 mb-5">
            <button type="reset" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-success">Logar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<%- include('../partials/footer')%>
