<head>
  <%- include('../partials/head')%>
</head>

<header><%- include('../partials/header') %></header>

 <div class="body">
      <main class="container1">
          <h2>Faça seu Login</h2>
          <form action="/verificarLogin"  method="post">
              <div class="input-field">
                  <input type="email" name="email" id="username" placeholder="Email">
                  <div class="underline"></div>
              </div>
              <div class="input-field">
                  <input type="password" name="senha" id="password" placeholder="Senha">
                  <div class="underline"></div>
              </div>
              
              <br>
              <p><%= acao%></p>

              <input type="submit" value="Prosseguir">
          </form>
      </main>
  </div>
<br>
<%- include('../partials/footer')%>

 